<h1>Les cartes</h1>
<!--<input type="text" placeholder="Titre" ng-model="filtre.titre"/><br>-->
<!--<input type="number" placeholder="mini" ng-model="filtre.mini"/><br>-->
<!--<input type="number" placeholder="maxi" ng-model="filtre.maxi"/><br>-->

<!--<br>-->

<!--Nb d'articles s&eacute;lectionn&eacute;s : {{elts.length}}<br>-->



<!--<br>-->




<div class="container">
    <div class="row">

        <div class="col-sm-12">

            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th>col-1</th>
                    <th>col1-2</th>
                    <th>col1-3</th>
                    <th>col1-4</th>
                    <th>col1-5</th>
                    <th>col1-6</th>
                </tr>
                <tr>
                    <td>val-1</td>
                    <td>val-2</td>
                    <td>val-3</td>
                    <td>val-4</td>
                    <td>val-5</td>
                    <td>val-6</td>
                </tr>
            </table>

        </div>

    </div>
</div>


<pre>{{cards | json }}</pre>


<!--<table>-->
    <!--<tr>-->
        <!--<th>R&eacute;f</th><th>Titre</th><th></th>-->
    <!--</tr>-->
    <!--<tr ng-repeat="book in catalog-->
						<!--| filter:{title:filtre.titre} -->
						<!--| interval:filtre.mini:filtre.maxi-->
						<!--as elts">-->
        <!--<td>-->
            <!--<a href="#/book/{{book._id.$oid}}">-->
                <!--{{book['ISBN-13']}}-->
            <!--</a>-->
        <!--</td>-->
        <!--<td>{{book.title}}</td>-->
        <!--<td>{{book.rating}}</td>-->
        <!--<td>{{book.price | currency}}</td>-->
    <!--</tr>-->
<!--</table>-->