


<!--<br>-->

<!--Nb d'articles s&eacute;lectionn&eacute;s : {{elts.length}}<br>-->



<!--<br>-->




<div class="container">
    <div class="row">
        <div class="col-sm-12">



            <h1>Les cartes</h1>

            <input type="text" class="form-control" placeholder="Name" ng-model="filtre.name"/><br>

            <div ng-show="enCours">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{100*avancement}}" aria-valuemin="0" aria-valuemax="100" style="width: {{100*avancement}}%;"></div>
                </div>
            </div>
            <table class="table table-bordered table-striped table-hover" ng-show="!enCours">
                <tr>
                    <th>imageUrl</th>
                    <th>id</th>
                    <th>name</th>
                    <th>artiste</th>
                    <th>nationalPokedexNumber</th>
                    <th>subtype</th>
                    <th>supertype</th>
                    <th>hp</th>
                    <th>rarity</th>
                    <th>series</th>
                    <th>set</th>
                </tr>
                <tr ng-repeat="card in cards
                                | filter:{name:filtre.name}
                                | orderBy: ['nationalPokedexNumber', 'artist']
                                as pokemons">
                    <td>
                        <a href="#/card/{{card._id}}">
                            <img height="200" ng-src="{{card.imageUrl}}">
                        </a>
                    </td>
                    <td>{{card.id}}</td>
                    <td>{{card.name}}</td>
                    <td>{{card.artist}}</td>
                    <td>{{card.nationalPokedexNumber}}</td>

                    <td>{{card.subtype}}</td>
                    <td>{{card.supertype}}</td>
                    <td>{{card.hp}}</td>
                    <td>{{card.rarity}}</td>
                    <td>{{card.series}}</td>
                    <td>{{card.set}}</td>
                </tr>
            </table>





            <pre>{{cards | json }}</pre>


        </div>
    </div>
</div>





<!--<table>-->
    <!--<tr>-->
        <!--<th>R&eacute;f</th><th>Titre</th><th></th>-->
    <!--</tr>-->
    <!--<tr ng-repeat="book in catalog-->
						<!--| filter:{title:filtre.titre} -->
						<!--| interval:filtre.mini:filtre.maxi-->
						<!--as elts">-->
        <!--<td>-->
            <!--<a href="#/book/{{book._id.$oid}}">-->
                <!--{{book['ISBN-13']}}-->
            <!--</a>-->
        <!--</td>-->
        <!--<td>{{book.title}}</td>-->
        <!--<td>{{book.rating}}</td>-->
        <!--<td>{{book.price | currency}}</td>-->
    <!--</tr>-->
<!--</table>-->