<h1>Les cartes</h1>
<!--<input type="text" placeholder="Titre" ng-model="filtre.titre"/><br>-->
<!--<input type="number" placeholder="mini" ng-model="filtre.mini"/><br>-->
<!--<input type="number" placeholder="maxi" ng-model="filtre.maxi"/><br>-->

<br>



<br>

<pre>{{cards}}</pre>

<!--<table>-->
    <!--<tr>-->
        <!--<th>R&eacute;f</th><th>Titre</th><th></th>-->
    <!--</tr>-->
    <!--<tr ng-repeat="book in catalog-->
						<!--| filter:{title:filtre.titre} -->
						<!--| interval:filtre.mini:filtre.maxi-->
						<!--as elts">-->
        <!--<td>-->
            <!--<a href="#/book/{{book._id.$oid}}">-->
                <!--{{book['ISBN-13']}}-->
            <!--</a>-->
        <!--</td>-->
        <!--<td>{{book.title}}</td>-->
        <!--<td>{{book.rating}}</td>-->
        <!--<td>{{book.price | currency}}</td>-->
    <!--</tr>-->
<!--</table>-->